<mat-toolbar color="primary">
    <span>Pet-Site</span>
    <a mat-button routerLink="/home" routerLinkActive="mat-accent">Home</a>
    <a mat-button routerLinkActive="mat-accent" *ngFor="let category of categories$ | async"
       [routerLink]="['products', category.id]">
        {{ category.name }}
    </a>
    <span class="spacer"></span>
    <ng-container *ngIf="authService.isLoggedIn(); else loginLink">
        <button mat-icon-button routerLink="/cart/overview">
            <mat-icon [matBadge]="amountInCart" matBadgeColor="accent" [matBadgeHidden]="amountInCart < 1">
                shopping_cart
            </mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="userMenu">
            {{ authService.getUsername() }}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
    </ng-container>
    <ng-template #loginLink>
        <a mat-button routerLink="/auth/login">Login</a>
        <a mat-button routerLink="/auth/register">Register</a>
    </ng-template>

</mat-toolbar>