<div class="container" style="width: 100%">
    <ng-container *ngIf="!(isCartEmpty | async); else empty">
        <mat-stepper linear="true">
            <mat-step>
                <ng-template matStepLabel>Check your cart</ng-template>
                <div>
                    <app-cart-overview></app-cart-overview>
                </div>
                <div class="button-group">
                    <button mat-raised-button class="next-button" color="primary" (click)="getTotalPrice()" matStepperNext>
                        Place order
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                </div>
            </mat-step>
            <mat-step [stepControl]="addressFormGroup">
                <div>
                    <form [formGroup]="addressFormGroup" (ngSubmit)="submitAddress()">
                        <ng-template matStepLabel>Fill out your address</ng-template>
                        <h2>Fill out your address</h2>

                        <mat-grid-list cols="2" rowHeight="65px">
                            <mat-grid-tile colspan="2">
                                <mat-form-field>
                                    <mat-label>Address line 1</mat-label>
                                    <input matInput type="text" formControlName="addressLine1"
                                           placeholder="Nijverheidskaai 170"
                                           required>
                                    <mat-error *ngIf="hasError('addressLine1')">Address line 1 is required</mat-error>
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile colspan="2">
                                <mat-form-field>
                                    <mat-label>Address line 2</mat-label>
                                    <input matInput formControlName="addressLine2" placeholder="bus 64">
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>Zipcode</mat-label>
                                    <input matInput type="number" formControlName="zipcode" placeholder="1070" required>
                                    <mat-error *ngIf="hasError('zipcode')">Zipcode between 1000 and 9999 required</mat-error>
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input matInput formControlName="city" placeholder="Anderlecht" required>
                                    <mat-error *ngIf="hasError('city')">City is required</mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>

                        <div class="button-group">
                            <button type="button" class="back-button" mat-raised-button color="primary" matStepperPrevious>
                                <mat-icon>navigate_before</mat-icon>
                                Back
                            </button>
                            <button type="submit" class="next-button" mat-raised-button color="primary" matStepperNext>
                                Next
                                <mat-icon>navigate_next</mat-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Payment</ng-template>
                <h2>Payment</h2>
                <p>Please pay the amount of {{ totalPrice | async | currency: 'EUR'}} on BE31 4159 2653 8979</p>
                <p style="color:white">This one is for the math nerds ;)</p>
                <div class="button-group">
                    <button class="back-button" mat-raised-button color="primary" matStepperPrevious>
                        <mat-icon>navigate_before</mat-icon>
                        Back
                    </button>
                    <button class="next-button" mat-raised-button color="primary" (click)="placeOrder()" matStepperNext>
                        Finish
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Order is placed!</ng-template>
                <h2>Your order is successfully placed</h2>
                <p>The package will be delivered by B-Post within 3 to 5 working days</p>
            </mat-step>
        </mat-stepper>

    </ng-container>
</div>

<ng-template #empty>
    <h2>Your cart is empty</h2>
    <p>Go explore our shop and add some products to your car!</p>
</ng-template>


